body{

  background-color:blue;
}




.ho{

  background-color:black;

  padding: 30px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.btn1{
  color: green;
}

.emi{
  border-radius:30px ;
  
}

